<body>
                
      <span  id = 'morrisDonut' style="height: 300px; width: 33%"><h1 style="text-align: center">Daily</h1></span>
      
  <script>    
  new Morris.Donut({
     element: 'morrisDonut',
     data: [
        {label: "탄수화물", value: {{dailyPersent['carboSum']}}},
        {label: "단백질", value: {{dailyPersent['proteinSum']}}},
        {label: "지방", value: {{dailyPersent['fatSum']}}}],
        colors: ['#23c90e','#cff90e','#f2de0c'] 
         });
  </script>
  
  <span  id = 'morrisDonut1' style="height: 300px; width: 33%"><h1 style="text-align: center">Weekly</h1></span>     
  
  <script>    
  new Morris.Donut({
     element: 'morrisDonut1',
     data: [
        {label: "탄수화물", value: {{weeklyPersent['carboSum']}}},
        {label: "단백질", value: {{weeklyPersent['proteinSum']}}},
        {label: "지방", value: {{weeklyPersent['fatSum']}}}],
        colors: ['#23c90e','#cff90e','#f2de0c']
         });             
  </script>
  
  <span  id = 'morrisDonut2' style="height: 300px; width: 33%"><h1 style="text-align: center">Monthly</h1></span>     
  
  <script>    
  new Morris.Donut({
     element: 'morrisDonut2',
     data: [
        {label: "탄수화물", value: {{monthlyPersent['carboSum']}}},
        {label: "단백질", value: {{monthlyPersent['proteinSum']}}},
        {label: "지방", value: {{monthlyPersent['fatSum']}}}],
        colors: ['#23c90e','#cff90e','#f2de0c']
         });
         
         
  </script>
  