<style>
#cap-area{
	height:60px;
	overflow: hidden;
}
a{
	text-decoration: none;
	color:black;
	
}
b{
	float:right;
	margin-top:30px;
}
h1{
	margin:0px;
	padding-left:30px;
	font-size: 50px;
	
	text-align: left;
}
body{
	
	margin:0 auto;
}
p{
	text-align: center;
	color:white;
	margin-top:80px;
	padding: 0px 100px;
}
#profile-area{
	background-image: url('static/images/diet.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin:0 auto;
	border:solid 1px;
	height:500px;
}
#pychart-area{
	border:solid 1px;
	height:500px;
	background-color:darkgrey;
}
#barchart-area{
	border:solid 1px;
	height:500px;
	background-color:darkgoldenrod;
}

#tablechart-area{
	
	
}
</style>

<body>
<div id="cap-area">
        <div>
            <a href="http://localhost:5000/logout"><b>Logout</b></a>
            <b>&nbsp|&nbsp</b>
            <a href="http://localhost:5000/mypage"><b>Mypage</b></a>
            <!-- <a href=""><img src="/static/images/login.png" width="80" height"80"/></a> -->
            <a href="http://localhost:5000/"><h1>Foodbalance</h1></a>
        </div>       
</div>

<div id ="profile-area">
	<h1>Profile</h1>
</div>

<div id ="pychart-area">
	<h1>pychart</h1>
</div>


<div id ="barchart-area">
	<h1>barchart</h1>
</div>

<div id ="tablechart-area">
		<table id="info" class="type06">	
		<thead>
		<tr>
			<th>날짜</th>
			<th>음식이름</th>
			<th>1회 제공량</th>
			<th>kcal</th>
			<th>탄수화물</th>
			<th>단백질</th>
			<th>지방</th>
			<th>당</th>
			<th>나트륨</th>
			<th>콜레스테롤</th>
			<th>포화지방산</th>
			<th>트랜스지방산</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
			{% for food in foods %}
			<tr>
				<td>{{ food ['date']}}</td>
				<td>{{ food ['foodname']}}</td>
				<td>{{ food ['per']}}</td>
				<td>{{ food ['kcal']}}</td>
				<td>{{ food ['carbo']}}</td>
				<td>{{ food ['protein']}}</td>
				<td>{{ food ['fat']}}</td>
				<td>{{ food ['sugar']}}</td>
				<td>{{ food ['natrium']}}</td>
				<td>{{ food ['chole']}}</td>
				<td>{{ food ['satfat']}}</td>
				<td>{{ food ['transfat']}}</td>
				<td>
					<form method="POST" form action = "http://localhost:5000/deletefood"  > 
						<input type="hidden" name='mid' value="{{food['mid']}}"/>
						<input type="submit" value='삭제'>
					</form>
				</td>

			</tr>
			</div>
		{% endfor %}    
		</tbody>
		</table>

</div>
<div>
	{% include 'mod/footer.html' ignore missing %}
</div>
</body>