<html>
<head>
</head>
<style>
#contents-area{
    
    text-align: center;
    overflow: hidden;
}	
#section{
    margin:50 0 0 30;
    width:300px;
    height:300px;
    float: left;
    overflow: hidden;
    background-color: blanchedalmond;
    
    
}
#section2{
    margin:50 0 0 50;
    width:850px;
    height:300px;
    
    float: left;
}
h2{
    margin:30 0 0 0 ;
    border-bottom: solid 1px;
    text-align:left;
    
}



</style>
<body>
    <div id="contents-area">
    {% if foods: %}
        {% include 'sub/search.html' ignore missing %}
    {% else: %}
        {% include 'sub/info.html' ignore missing %}
    {% endif %}
    </div>  

    
</body>
</html>		