<html>
<head>
	<title></title>
</head>
<style>
#footer-area{
	border:solid 1px;
	background-color:gray;
	text-align: center;
	height: 200px;
	margin-bottom: 10px;
	overflow: hidden;
}	
body{
	
	margin:0 auto;
	
}
h5{
	padding: 0px 50px;
	margin-top:0px;
}
</style>
<body>

	<div id="footer-area">
		<h5>@Copyright: rhwhddbs12@naver.com 2018</h5>
		<h5>Lorem Ipsum "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."<br>
			"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..." What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
			It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
		</h5>
	</div>

</body>
</html>